#footer{
    /* padding: 15px; */
    width: 100%;
    height: 60px;
    color: white;
    background-color: rgb(35, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}