.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  position: relative;
  top: 25px;
  margin-top: 50px;
 padding-bottom: 50px;
  /* border: 2px solid red; */
}

.admin .admin-first {
  text-align: center;
  margin-top: 0;
  /* border: 2px solid green; */
}

.admin img {
  margin-top: 20px;
  max-width: 200px;
  /* border: 2px solid green; */
}
h2{
   color: white;
   font-size:xx-large;
}

h3{
 text-align: center;
}

.admin .admin-second {
  
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  /* border: 2px solid yellow; */
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.admin .admin-second .admin-btn {
   padding: 2px;
   display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  margin-top: 10px;
  gap: 20px;
  /* border: 2px solid red;
  background-color: yellow; */
}

.admin .admin-second .admin-btn button {

  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  background-color: #0056b3;
}

@media only screen and  (max-width:650px){
  .admin .admin-second .admin-btn  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    /* font-size: 12px; */
    cursor: pointer;
    gap: 0;
    /* border: 2px solid green; */
  }
  
}