#contact {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(173, 170, 238);
  padding: 0.1em 2em;
  background-image: url("../../assets/background/Whyus.png");
  font-family: 'Josefin Sans', sans-serif;
  /* border: 2px solid red; */
  margin-top: 40px;
  padding-bottom: 25px;
}

.contact-titles {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 1.5em;
  color: #12FF46;
}

.contact-titles h2 {
  font-size: 50px;
  color: rgb(31, 22, 85);
}

.contact__container {
  width: 90%;
  display: flex; 
flex-direction: row;
justify-content: space-around;
  /* border: 2px solid rgb(0, 173, 23); */
}
.form{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid rgb(12, 12, 12); */
  /* padding-bottom: 20px; */
  height: fit-content;
}
.contact__options {
  width: 60%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  /* border: 2px solid tomato; */
}

.contact__option img {
  width: 50px;
  height: 50px;
  border: 10px;
}

.contact__option:hover {
  transform: scale(1.1);
}

.contact__option {
  margin: 0 5px;
  
}

.contact__container form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
 padding-bottom: 20px;
  /* border: 2px solid yellow; */
}

.contact__container input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  background: transparent;
  /* border: 2px solid rgb(36, 194, 89); */
  resize: none;
  font-size: 15px;
  color: rgb(28, 26, 26);
}

.contact__container input::placeholder {
  color: #1b0202;
  opacity: 1;
}

.contact__container textarea::placeholder {
  color: #000100;
  opacity: 1;
}

.contact__container form button {
  width: fit-content;
  
  border-radius: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: green;
  transition-duration: 0.3s;
  padding: 15px;
}

.contact__container form button:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgb(43, 41, 41);
}

.contact__option img {
  width: 100%;
  
}

.contact-img {
  width: 30%;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
  /* border: 1px solid green; */
}
img {
  max-width: 400px;
}

@media screen and (min-width:200px) and (max-width: 767px) {
  .contact-titles h2{
    font-size: 40px;
  }
  .contact__container {
    width: 100%;
    display: flex;
   
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .contact-img{
    width: 100%;
   
    justify-content: center;
  }
  .form{
    width: 100%;
  }
  form{
    width: 100%;
    height: fit-content;
  }
  .contact-img{
    width: 100%;
  }
  .contact__options {
    flex-direction: row;
    width: 60%;
    
    justify-content: center;
  }

  .contact__option {
    /* padding: 0.2em; */
    margin: 0 5px;
  }

  .contact__option a {
    color: #000100;
  }

  .contact__option-icon {
    font-size: 1.5rem;
  }

  .contact__container form input {
    width: 100%;
    padding: 10px;
  }
  textarea{
    width: 100%;
    height: 30%;
  }
  button{
    width: fit-content;
  }
}

@media screen and (max-width: 420px) {
  #contact {
    /* padding: 2em; */
    height: max-content;
  }

  .contact-titles {
    font-size: 1.2em;
  }

  .contact__container {
    width: 100%;
  }

  .contact__options{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.form{
  width: 100%;
}
  .contact__container form {
    width: 100%;
    display: flex;
    flex-direction: column;
   padding: 15px 20px;
   margin: 0;
  }

  .contact-img {
    display: none;
  }
}
